<!DOCTYPE html>
<html>

<head>
    <title>Calendar Application</title>
</head>

<body>
    <h1>Calendar working</h1>

    <form action="/" method="post">
        {{ form.hidden_tag() }}
        <p>{{ form.name.label }} {{ form.name() }}</p>
        <p>{{ form.start_date.label }} {{ form.start_date() }}</p>
        <p>{{ form.start_time.label }} {{ form.start_time() }}</p>
        <p>{{ form.end_date.label }} {{ form.end_date() }}</p>
        <p>{{ form.end_time.label }} {{ form.end_time() }}</p>
        <p>{{ form.description.label }} {{ form.description() }}</p>
        <p>{{ form.private.label }} {{ form.private() }}</p>
        <p>{{ form.submit() }}</p>
    </form>


    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Start</th>
                <th>End</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
            <tr>
                <td>{{ row[1] }}</td>
                <td>{{ row[2].strftime("%Y-%m-%d") }}</td>
                <td>{{ row[2].strftime("%H:%M") }}</td>
                <td>{{ row[3].strftime("%H:%M") }}</td>
            </tr>
            {% else %}
            <tr>
                <td colspan="4">No appointments found.</td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
</body>

</html>
